.env
venv/
.ipynb_checkpoints/
/public/data/
/building_apps_with_vectordbs/wiki.csv
/building_apps_with_vectordbs/all-the-news-3.csv
/building_apps_with_vectordbs/family/
/building_apps_with_vectordbs/vectors.vec
/building_apps_with_vectordbs/lesson6.tar
/building_apps_with_vectordbs/sample.log
/building_apps_with_vectordbs/training.txt